@model SolutionsTech.Business.Entity.SchedulingProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SchedulingProduct</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSchedulingProduct">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
