@model SolutionsTech.MVC.Models.SchedulingProcedure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SchedulingProcedure</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSchedulingProcedure">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
